* {
  margin: 0;
  padding: 0;
}
.LTT_header div {
  height: 50px;
  line-height: 50px;
}
.LTT_header .LTT_header_left {
  font-size: 18px;
  text-align: center;
  color: white;
  width: 16%;
  background-color: #367ea9;
  float: left;
}
.LTT_header .LTT_header_right {
  background-color: #3c8dbd;
  width: 84%;
  float: left;
}
.LTT_context_box {
  height: 605px;
  position: relative;
}
.LTT_context_box .LTT_context_left {
  background-color: #222c32;
  color: white;
  height:100%;
  width: 16%;
  font-size: 13px;
  float: left;
}
.LTT_context_box .LTT_context_left .LTT_left_nav {
  width: 100%;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li {
  list-style: none;
  width: 100%;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li p {
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid white;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li p span {
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li p .glyphicon-record {
  margin-left: 15px;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li p .glyphicon-menu-left {
  float: right;
  margin-right: 30px;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li p .LTT_font_middle {
  margin-left: 10px;
  font-size: 16px;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li .LTT_samll_ul {
  margin-top: 0px;
  background-color: #2b739e;
  display: none;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li .LTT_samll_ul li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}
.LTT_context_box .LTT_context_left .LTT_left_nav li .LTT_samll_ul li a {
  text-decoration: none;
  color: white;
}
.LTT_context_box .LTT_context_right {
  width: 100%;
  float: left;
  height: 100%;
  display: none;
}
.LTT_context_box .LTT_context1_right1 {
  width: 84%;
  float: left;
  height:100%;
  background: url("/Public/Admin/img/wel/bg.png") no-repeat;
  background-size:100% 100%;
}
.iframe{
  position: absolute;
  top:0px;
  right:0px;
}

.LTT_th_th{
  text-align: center;
  padding: 3px 10px;
  white-space: nowrap;
}
.LTT_th_td{
  width:100px;
  height:50px;
  text-align: center;
  padding: 3px 10px;
  white-space: nowrap;
  overflow: hidden;
}

